<div class="bg-white px-64 py-16">
  <h1 class="text-[#222B45] font-bold text-3xl mb-2">Média e Mediana</h1>
  <p class="text-[#222B45]/50 text-left max-w-[1200px] mb-10">
    Este sistema realiza o cálculo da Média e da Mediana entre três valores
    númericos reais A, B e C.
  </p>
  <form [formGroup]="calculateForm" class="flex items-end gap-6 mb-10">
    <div class="flex items-center gap-6">
      <app-input
        formControlName="number1"
        label="Campo A"
        placeholder="Insira o valor A"
        type="number"
      />
      <app-input
        formControlName="number2"
        label="Campo B"
        placeholder="Insira o valor B"
        type="number"
      />
      <app-input
        formControlName="number3"
        label="Campo C"
        placeholder="Insira o valor C"
        type="number"
      />
    </div>
    <button
      (click)="submit()"
      class="rounded-md bg-[#009AA0] text-white px-4 py-2 font-semibold w-24 h-10 hover:bg-[#009AA0]/80 cursor-pointer transition-colors"
    >
      Calcular
    </button>
  </form>
  <app-results-table />
</div>
