<div class="bg-white px-64 py-16">
  <h1 class="text-[#222B45] font-bold text-3xl mb-2">Média e Mediana</h1>
  <p class="text-[#222B45]/50 text-left max-w-[1200px] mb-10">
    Este sistema realiza o cálculo da Média e da Mediana entre três valores
    númericos reais positivos A, B e C.
  </p>
  <div class="flex items-end gap-6 mb-10">
    <div class="flex items-center gap-6">
      <app-input label="Campo A" placeholder="Insira o valor A" />
      <app-input label="Campo B" placeholder="Insira o valor B" />
      <app-input label="Campo C" placeholder="Insira o valor C" />
    </div>
    <button
      class="rounded-md bg-[#009AA0] text-white px-4 py-2 font-semibold w-24 h-10 hover:bg-[#009AA0]/80 cursor-pointer transition-colors"
    >
      Calcular
    </button>
  </div>
  <app-results-table />
</div>
